@import "utils.module.scss";

.container {
  max-width: 80%;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    align-self: flex-end;
    // TODO it's required to validate what is the best approach to do that
    /* 
    @include resizeHeader(mobile) {
      font-size: 12.5px;
    }
    */
  }
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 3rem 0 0;
}

.logo {
  width: 5rem;
  height: 2.5rem;
  align-items: flex-start;
}

.topHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav.navContainer > a {
  margin: 0 1em;
}

.container > main {
  padding: 0 1rem;
  margin: 1rem auto 1rem;
}
